@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

div#imgBg {
  position: absolute;
  display: block;
  bottom: 0px;
  right: 0px;
  min-width: 300px;
  min-height: 300px;
  max-width: 600px;
  max-height: 600px;
  width: 80vh;
  height: 80vh;
  background: url(../app/src/public/dice.png) no-repeat center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: invert();
  mix-blend-mode: difference;
  opacity: 50%;
  z-index: -5;
  margin: 28px;
}